.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  align-items: center;
  max-width: 1280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  margin: auto;
  margin-top: -15vh;
}
